img{
    display: block;
    object-fit: cover;
    height: 200px;
    width: 280px;
    max-width: 100%;
}
/* 
.image{
    display: block;
    object-fit: cover;
    height: 150px;
    width: 150px;
    max-width: 100%;
} */